appdirs==1.4.4
argcomplete==3.2.2
asttokens==2.4.1
awscli-local==0.22.0
bcc==0.1.10
blessed==1.20.0
boto3==1.35.46
botocore==1.35.46
bpython==0.24
Brlapi==0.8.5
build==1.2.1
cachetools==5.5.0
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
cupshelpers==1.0
curtsies==0.4.2
cwcwidth==0.1.9
dbus-python==1.3.2
decorator==5.1.1
dill==0.3.6
distlib==0.3.8
distro==1.9.0
dnf==4.21.1
dnslib==0.9.25
dnspython==2.6.1
docutils==0.16
ecdsa==0.19.0
executing==2.1.0
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.16.1
fros==1.1
greenlet==3.1.1
halo==0.0.31
idna==3.7
iniconfig==2.0.0
ipython==8.28.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
langtable==0.0.68
libcomps==0.1.20
libdnf==0.73.3
log-symbols==0.0.14
louis==3.28.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mypy==1.11.2
mypy-extensions==1.0.0
nftables==0.1
numpy==2.1.2
olefile==0.47
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.3.0
pipx==1.5.0
platformdirs==4.3.6
pluggy==1.5.0
plux==1.11.1
prompt_toolkit==3.0.48
psutil==5.9.8
ptpython==3.0.29
ptyprocess==0.7.0
pure_eval==0.2.3
pyaes==1.6.1
pyasn1==0.6.0
pycairo==1.25.1
pycparser==2.22
pycups==2.0.4
pyenchant==3.2.2
Pygments==2.18.0
PyGObject==3.48.2
pyotp==2.9.0
pyproject-api==1.8.0
pyproject_hooks==1.1.0
PySocks==1.7.1
pytest==8.3.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-pam==2.0.2
pyxdg==0.27
PyYAML==6.0.1
regex==2024.4.28
repopack==0.1.4
requests==2.31.0
rich==13.7.1
rpm==4.19.1.1
rsa==4.7.2
ruff==0.6.9
s3transfer==0.10.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7/src
semver==3.0.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==75.1.0
simpleaudio==1.0.4
six==1.16.0
sos==4.7.2
spinners==0.0.24
stack-data==0.6.3
systemd-python==235
tabulate==0.9.0
tailer==0.4.1
termcolor==2.5.0
tox==4.21.2
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.12.2
udica==0.2.8
urllib3==1.26.20
userpath==1.9.1
virtualenv==20.26.6
wcwidth==0.2.13
wheel==0.44.0
